.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  width: 90%
}

.searchBox {
  margin: 10px;
  width:70%;
}

.createProfileButton {
  margin-left: 10px;
  padding-left: 10px;
}